<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
    <link rel="icon" type="image/x-icon" href="/images/ruby.ico">
    <link rel="stylesheet" href="/styles.css?v=5">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="Ruby Server Logo"></a>
    </header>
    <nav>
        <div class="nav-container">
            <ul class="main-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/jugadores">Top All Time</a></li>
                <li><a href="/clanes">Clanes</a></li>
                <li><a href="/actual">Top Actual</a></li>
                <li><a href="/guestbook" class="active">Guestbook</a></li>
                <li><a href="/hemeroteca">Hemeroteca</a></li>
            </ul>
            <ul class="user-nav">
                <% if (!user) { %> <!-- Si no hay un usuario autenticado -->
                    <li><a href="/register">Registrar</a></li>
                    <li><a href="/login">Iniciar sesión</a></li>
                <% } else { %> <!-- Si hay un usuario autenticado -->
                    <li><a href="/dashboard">Dashboard</a></li>
                <% if (user.role === "admin") { %><li><a href="/housekeeping">Housekeeping</a></li><% } %>
                    <li><form action="/logout" method="POST" style="display: inline;">
                            <button type="submit" class="logout-btn">Cerrar sesión</button>
                        </form></li>
                <% } %>
            </ul>
            
        </div>
    </nav>
    <div class="container">
        <center><h1>Guestbook</h1></center>
        <form action="/guestbook" method="POST" class="comment-form">
            <input type="hidden" name="name" value="<%= user?.username || 'Anonymous' %>">
            <textarea name="message" rows="3" placeholder="Escribe tu comentario aquí..." required></textarea>
            <button type="submit">Publicar</button>
        </form>
        
        
        
        <div class="messages">
            <% messages.forEach(message => { %>
                <div class="comment">
                    <% if (message.author) { %>
                        <img src="<%= message.author.profilePicture %>" alt="Foto de perfil" class="profile-picture">
                        <div class="comment-text">
                            <p><strong><a href="/user/<%= message.author._id %>" class="user-link"><%= message.author.username %></a></strong>:
                                <%= message.text %>
                            </p>
                            
                            <% if (message.author._id.toString() === user._id.toString() || user.role === "admin") { %>
                                <form action="/guestbook/edit/<%= message._id %>" method="POST" style="display:inline;">
                                    <input type="text" name="message" placeholder="Editar comentario" required>
                                    <button type="submit">Editar</button>
                                </form>
                            <% } %>
                        
                            <% if (message.author._id.toString() === user._id.toString() || ["admin", "mod"].includes(user.role)) { %>
                                <form action="/guestbook/delete/<%= message._id %>" method="POST" style="display:inline;">
                                    <button type="submit">Eliminar</button>
                                </form>
                            <% } %>
                            
                        </div>
                    <% } else { %>
                        <div class="comment-text">
                            <p><strong>Usuario desconocido:</strong> <%= message.text %></p>
                        </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
        
                
    </div>
    <footer>
        <p>&copy; 2024 Ruby Server. Todos los derechos reservados.</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>