<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Ruby Server</title>
    <link rel="icon" type="image/x-icon" href="/images/ruby.ico">
    <link rel="stylesheet" href="/styles.css?v=7">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="Ruby Server Logo"></a>
    </header>
    <nav>
        <div class="nav-container">
            <ul class="main-nav">
                <li><a href="/" class="active">Inicio</a></li>
                <li><a href="/jugadores">Top All Time</a></li>
                <li><a href="/clanes">Clanes</a></li>
                <li><a href="/actual">Top Actual</a></li>
                <li><a href="/guestbook">Guestbook</a></li>
                <li><a href="/hemeroteca">Hemeroteca</a></li>
            </ul>
            <ul class="user-nav">
                <% if (!user) { %> <!-- Si no hay un usuario autenticado -->
                    <li><a href="/register">Registrar</a></li>
                    <li><a href="/login">Iniciar sesión</a></li>
                <% } else { %> <!-- Si hay un usuario autenticado -->
                    <li><a href="/dashboard">Dashboard</a></li>
                <% if (user.role === "admin") { %><li><a href="/housekeeping">Housekeeping</a></li><% } %>
                    <li><form action="/logout" method="POST" style="display: inline;">
                            <button type="submit" class="logout-btn">Cerrar sesión</button>
                        </form></li>
                <% } %>
            </ul>
            
        </div>
    </nav>

    
    <main class="centered-container">
        <div class="profile-card-container">
            <div class="profile-card">
                <h1>Perfil de <%= username %></h1>
                <img src="<%= profilePicture %>" alt="Foto de perfil" class="profile-picture-large">
                <p><strong>Nombre de usuario:</strong> <%= username %></p>
                <p><strong>Descripción:</strong></p>
                <!-- Mostrar la biografía con HTML (usando <%- %> para que se interprete el HTML) -->
                <div class="bio-content">
                    <%- user.bio || "Este usuario aún no ha escrito una descripción." %>
                </div>
            </div>
        </div>
    </main>
    



    <script src="/js/script.js"></script>
       
</body>
</html>
